div {
  width: 440px;
  height: 395px;
  background-color: cornsilk;
  text-align: center;
  padding: 12px;
}

h1 {
  margin-top: 0px;
  text-transform: uppercase;
  font-size: 20px;
}

table {
  border: none;
  font-size: 10px;
  text-align: center;
}

th {
  background-color: aquamarine;
  height: 20px;
  border: none;
  border-bottom: 2px solid blue;
}

td {
  width: 60px;
  height: 60px;
  font-size: 23px;
  background-color: cornsilk;
  border: 1px solid black;
}

.fe {
  background-color: salmon;
}

td:empty {
  border: none;
}
