#h1 {
  display: flex;
  flex-direction: column;
  padding: 0px;
  flex-wrap: wrap;
  
}
h1{
    font-size: 400%;
    font-weight: bolder;
    text-align: center;
}

.casa {
  width: 384px;
  height: 320px;
  border: 3px solid black;
  background-color: gray;
  margin-top: 120px;
  margin-left: 50px;

}

.ventana {
  width: 80px;
  height: 80px;
  border: 3px solid black;
  background-color: blue;
  position: absolute;
  top: 190px;
  left: 85px;

}

.ventana2 {
  width: 80px;
  height: 80px;
  border: 3px solid black;
  background-color: blue;
  position: absolute;
  top: 275px;
  left: 340px;

}

.puerta {
  width: 120px;
  height: 120px;
  border: 3px solid black;
  background-color: brown;
  position: relative;
  top: 99px;
  left: 127px;
 
}

.tejado {
  width: 424px;
  height: 80px;
  border: 3px solid black;
  padding: 5px;
  background-color: red;
  position: relative;
  top: -98px;
  right: 28px;

}
