.casa {
    width: 190px;
    height: 150px;
    border: 3px solid black;
    padding: 5px;
    background-color: gray;
    position: absolute;
    top: 75px;
    left: 50px;

       

}

.tejado {
    width: 210px;
    height: 25px;
    border: 3px solid black;
    padding: 5px;
    background-color: red;
    position: relative;
    top: -47px;
    left: -18px;
}

.puerta {
    width: 50px;
    height: 50px;
    border: 3px solid black;
    padding: 5px;
    background-color: brown;
    position: relative;
    bottom: -50px;
    left: 62px;
}

.ventana {
    width: 30px;
    height: 30px;
    border: 3px solid black;
    padding: 5px;
    background-color: blue;
    position:relative;
    bottom: 85px;
    left: 5px;
}

.ventana2 {
    width: 30px;
    height: 30px;
    border: 3px solid black;
    padding: 5px;
    background-color: blue;
    position:relative;
    bottom: 85px;
    left: 140px;
}