.moviment {
    /* Run Forest */
    width: 256px;
    height: 256px;
    background: url("Sprites/run.png") no-repeat;
    animation: mymove 0.7s steps(6) infinite;
}

@keyframes mymove {
    100% {
        background-position: -1536px;
    }
}

.moviment2 {
    /* Ñampazampa*/
    width: 190px;
    height: 240px;
    margin: 100px;
    background: url("Sprites/foto.png");
    animation: mymove2 0.8s steps(10) infinite;
}

@keyframes mymove2 {
    100% {
        background-position: 1900px;
    }
}

.moviment3 {
    /* Explosión */
    width: 100px;
    height: 100px;
    margin: 100px;
    background: url(Sprites/explosion.png) no-repeat;
    animation: mymov3X 1s steps(6) infinite,
        mymov3Y 1s steps(6) infinite;

}

@keyframes mymov3X {
    0% {
        background-position-x: 0
    }

    100% {
        background-position-x: -600px
    }
}

@keyframes mymov3Y {
    0% {
        background-position-y: 0
    }

    100% {
        background-position-y: -600px
    }
}

.moviment4 {
    /* Jason Bourne*/
    width: 80px;
    height: 94px;
    margin: 100px;
    background: url(Sprites/Jason_Bourne.png) no-repeat;
    animation: mymov4X 1.2s steps(8) infinite,
        mymov4Y 9.6s steps(5) infinite;

}

@keyframes mymov4X {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: -640px;
    }
}

@keyframes mymov4Y {
    0% {
        background-position-y: 0px;
    }

    100% {
        background-position-y: -470px;
    }
}

.moviment5 {
    /* Mickey Mouse*/
    width: 243px;
    height: 313px;
    margin: 100px;
    background-image: url("Sprites/mickey-sprite.png");
    animation: mymov5X 4s steps(8) infinite,
        mymov5Y 1s steps(5) infinite;
}

@keyframes mymov5X {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: -2048px;
    }
}

@keyframes mymov5Y {
    0% {
        background-position-y: 0px;
    }

    100% {
        background-position-y: -1540px;
    }
}

.moviment6 {
    /* Banderas*/
    width: 51px;
    height: 50px;
    margin: 100px;
    background-image: url("Sprites/flags.png");
    animation: mymov6X 4s steps(16) infinite,
        mymov6Y 12s steps(15) infinite;
}

@keyframes mymov6X {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: -800px;
    }
}

@keyframes mymov6Y {
    0% {
        background-position-y: 0px;
    }

    100% {
        background-position-y: -750px;
    }
}

.moviment7 {
    /* Moneda*/
    width: 90%;
    height: 205px;
    margin: 100px;
    background-image: url("Sprites/money.jpg");
    animation: mymov7X 1.2s steps(7) infinite,
        mymov7Y 9s steps(5) infinite;
}

@keyframes mymov7X {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: -1024px;
    }
}

@keyframes mymov7Y {
    0% {
        background-position-y: 0px;
    }

    100% {
        background-position-y: -1024px;
    }
}