.header {
  width: 91%;
  height: 150px;
  background-image: linear-gradient(green, lightgreen);
  color: white;
  text-indent: 20px;
  margin-left: 25px;
  padding-top: 18px;
}

.logo {
  float: right;
  margin: 15px;
}

ul {
  list-style-type: none;
}

li {
  width: 25%;
  height: 56px;
  background-color: rgb(9, 49, 9);
  margin-top: 8px;
  margin-left: -20px;
  text-indent: 15px;
  color: white;
  line-height: 40px;
  font-size: 16px;
}

li::first-letter {
  color: yellow;
  font-size: 26px;
}

.column.content {
  width: 43%;
  height: 220px;
  margin-left: 40px;
  position: relative;
  bottom: 100%;
  left: 25%;
}

.column.content h1 {
  font-size: 30px;
}

.clearfix {
  position: relative;
  margin-left: 5px;
}

.column.news {
  width: 19%;
  height: 235px;
  border: 3px solid green;
  margin-bottom: 50px;
  margin-top: -2px;
  padding: 5px 5px 5px 3px;
  display: inline-block;
  position: absolute;
  top: 120%;
  left: 70%;
}

.footer {
  width: 91%;
  height: 100px;
  background-image: radial-gradient(darkgreen 3%, green 15%, yellowgreen 60%);
  text-indent: 20px;
  margin-top: -510px;
  margin-left: 25px;
  padding-top: 18px;
}

.copyLeft {
  float: right;
  margin-right: 75px;
  margin-top: 15px;
  font-size: 14px;
}

@media (max-width: 900px) {

  .header {
    width: 96%;
  }

  li {
    width: 30%;
    height: 45px;
  }

  .column.content {
    width: 65%;
    margin-left: 70px;
    margin-right: 40px;
    position: relative;
    bottom: 220px;
    left: 230px;
  }

  .column.news {
    width: 95%;
    height: 160px;
    position: relative;
    bottom: 205px;
    left: 20px;
  }

  .footer {
    width: 96%;
    position: relative;
    top: 290px;
  }
}

@media (max-width: 550px) {

  .header {
    width: 94%;
    padding-left: 10px;
  }

  li {
    width: 105%;
    height: 45px;
  }

  .column.content {
    width: 92%;
    margin-left: 70px;
    margin-right: 40px;
    position: relative;
    top: 20px;
    margin-left: -500px;
  }

  .column.news {
    width: 92%;
    position: relative;
    top: 35px;
    left: 20px;
    padding-left: 10px;
  }

  .footer {
    width: 92%;
    padding-left: 10px;
    position: relative;
    top: 450px;
  }
}