/*Probado con Google Chrome*/

.header {
  width: 1170px;
  height: 150px;
  background-image: linear-gradient(green, lightgreen);
  color: white;
  text-indent: 20px;
  margin-left: 25px;
  padding-top: 18px;
}

.logo {
  float: right;
  margin: 15px;
}

ul {
  list-style-type: none;
}

li {
  width: 220px;
  height: 36px;
  background-color: rgb(9, 49, 9);
  margin-top: 8px;
  margin-left: -20px;
  text-indent: 15px;
  color: white;
  line-height: 40px;
  font-size: 16px;
}

li::first-letter {
  color: yellow;
  font-size: 26px;
}

.column.content {
  width: 630px;
  height: 220px;
  margin-left: 40px;
  position: relative;
  bottom: 170px;
  left: 230px;
}

.column.content h1 {
  font-size: 27px;
}

.clearfix {
  position: relative;
  margin-left: 5px;
}

.column.news {
  width: 260px;
  height: 155px;
  border: 3px solid green;
  margin-bottom: 50px;
  margin-top: -2px;
  padding: 5px 5px 5px 3px;
  display: inline-block;
  position: relative;
  bottom: 405px;
  left: 900px;
}

.footer {
  width: 1170px;
  height: 100px;
  background-image: radial-gradient(darkgreen 3%, green 15%, yellowgreen 60%);
  text-indent: 20px;
  margin-top: -430px;
  margin-left: 25px;
  padding-top: 18px;
}

.copyLeft {
  float: right;
  margin-right: 75px;
  margin-top: 15px;
  font-size: 14px;
}

@media (max-width: 900px) {

  .header {
    width: 96%;
  }

  li {
    width: 30%;
    height: 45px;
  }

  .column.content {
    width: 65%;
    margin-left: 60px;
    margin-right: 40px;
    position: relative;
    bottom: 220px;
    left: 230px;
  }

  .column.news {
    width: 92%;
    height: 160px;
    position: relative;
    bottom: 205px;
    left: 20px;
    padding-left: 23px;
  }

  .footer {
    width: 96%;
    position: relative;
    top: 200px;
  }
}

@media (max-width: 550px) {

  .header {
    width: 94%;
    padding-left: 10px;
    margin-left: 10px;
  }

  li {
    width: 105%;
    height: 45px;
    margin-left: -33px;
  }

  .column.content {
    width: 92%;
    position: relative;
    top: 10px;
    margin-left: -205px;
  }

  .column.news {
    width: 91%;
    position: relative;
    top: -10px;
    left: 10px;
    padding-left: 10px;
  }

  .footer {
    width: 94%;
    position: relative;
    top: 395px;
    margin-left: 15px;
  }
}